.back-to-top {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.back-to-top:hover {
    color: var(--secondary-color);
}