:root {
    --primary-color: #9d1347; /* deep pinkish red */
    --secondary-color: #ef88ad; /* soft pink */
    --background-color: #f5f5dc; /* beige */
    --text-color: #333;
    --white: #ffffff;
}

.card {
    background-color: var(--background-color) !important;
    border: none;
    box-shadow: var(--primary-color) !important;
}

.order-btn {
    background-color: var(--primary-color) !important;
}

.order-btn:hover {
    background-color: var(--secondary-color) !important;

}

.quantity-control {
    font-size: 1.2rem;
}

.qty-btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
}

.qty-btn:hover {
    background-color: var(--primary-color);
}

.qty-number {
    font-weight: bold;
    font-size: 1.3rem;
}