.main-footer {
    height: 65vh !important;
    width: 100%;
    background-color: #5a2a45;
    color: beige;
}

.footer-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*height: 100%;*/
}


.footer-center p {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: beige;
    font-size: 1.85rem;
}

.footer-wrapper {
    padding-top: 3rem !important;
    margin-left: 3rem !important;
    margin-right: auto !important;
}

/*.footer-center p:hover {*/
/*    transform: scale(1.25);*/
/*    cursor: pointer;*/
/*}*/

.footer-hover-text {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-hover-text:hover, .footer-right:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.footer-right {
    font-family: 'Roboto Mono', monospace;
}

.footer-left {

    font-family: 'Roboto Mono', monospace;
}

.footer-divider {
    display: none;
}

@media (max-width: 992px) {
    /* styles here for extra-small phones */
    .main-footer {
        height: 93vh !important;
    }


}

@media (max-width: 768px) {
    .footer-center {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-icons a {
        margin: 0.25rem 0;
    }

    .main-footer {
        height: 140vh !important;
    }


    .footer-divider {
        display: block;
        border: none;
        background-color: var(--secondary-color) !important; /* or use a hex value */
    }

}


@media (max-width: 550px) {
    /* styles here for extra-small phones */
    .main-footer {
        height: 145vh !important;
    }
}
