.hero-img {
    width: 100%;
    height: 550px; /* or whatever height you want */
    background-image: url('/src/assets/background/dessertBackround.jpg');
    background-size: cover;
    background-position: center;
}