/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/

/* Header.css */
:root {
    --primary-color: #9d1347;         /* deep pinkish red */
    --secondary-color: #ef88ad;      /* soft pink */
    --background-color: #f5f5dc;     /* beige */
    --text-color: #333;
    --white: #ffffff;
}

#root, html, body {
    height: 100%;
    background: #F5F5DC;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}


main.flex-fill {
    flex: 1;
}

.page-wrapper {
    min-height: 100vh;
    height: 100%;
}
.nav-title {
    color: var(--secondary-color)!important;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, .logo-text {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.menu {
    background: var(--primary-color)!important;
    color: var(--background-color)!important;
    border-color: #ef88ad!important;
}

.menu:hover {
    background: var(--secondary-color)!important;
}

.header {
    background-image: url('assets/header/cake.jpg'); /* if from public/ */
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 85vh;
}

.header .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-btn {
    border-radius: 9999px;
    padding: 0.5rem 1.5rem;
    color: var(--background-color)!important;
    border: 2px solid rgb(165, 56, 96)!important;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease;
}

.header-btn:hover {
    background: rgb(239, 136, 173);
}

.left-btn-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: -1em; /* adjust as needed */
    margin-top: 2rem;
}


.quote-title {
    color: rgb(157, 19, 71);
    font-size: 2.3em!important;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.quote-subtitle {
    font-size: 4.4em!important;
    font-weight: normal;
    margin-top: 0!important;
    color: transparent;
    -webkit-text-stroke: 4px rgb(239, 136, 173);
}

.custom-btn {
    padding: 0.5rem 1rem;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 9999px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.custom-btn:hover {
    background: rgb(239, 136, 173);
}

